<!DOCTYPE html>
<html>
<head>
    <title>Play Fetch</title>
</head>

<body>
<h1>Play Fetch!</h1>

<p>Send a <code>PUT</code> request to add a resource to a URL. You will get an <code>ETag</code> back in the response.</p>
<p>Once you add a resource you can use <code>GET</code> request on the same URL to retrieve it, or pass one of the <code>If-</code> conditional headers to match on the ETag.</code></p>

<p>For more details go to <a href="https://github.com/draganglumac/play-fetch">https://github.com/draganglumac/play-fetch</a></p>

<h2>Configured Paths</h2>
<ul>
  <% configured_paths('resources', 'resources/index.erb').each do |path| %>
  <li><%= path %></li>
  <% end %>
</ul>
</body>

</html>